<div class="col-md-12">
    <div class="card">
        <div class="card-header card-header-tabs card-header-primary">
            <div class="nav-tabs-navigation">
                <div class="nav-tabs-wrapper">
                    <span class="nav-tabs-title">Wallet</span>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="tab-content">
                <div class="tab-pane active">
                    <div class="row">
                        <div class="col-md-12">
                            <label>Add Stocks in Wallet: </label>
                        </div>
                    </div>
                    <form #f="ngForm">
                        <div class="row">


                            <div class="col-md-3">
                                <mat-form-field class="example-full-width" appearance="outline">
                                    <mat-label>Stock Type</mat-label>
                                    <input type="text" name="type" required
                                           aria-label="Number"
                                           matInput
                                           [formControl]="myControlStockType">
                                </mat-form-field>
                            </div>
                            <div class="col-md-2">
                                <mat-form-field class="example-full-width" appearance="outline">
                                    <input matInput placeholder="Quantity" type="number" name="quantity"
                                           [formControl]="myControlQuantity"
                                           required>
                                </mat-form-field>
                            </div>
                            <div class="col-md-3">
                                <mat-form-field class="example-full-width" appearance="outline">
                                    <mat-label>Currency</mat-label>
                                    <input type="text" name="type"
                                           aria-label="Number"
                                           matInput
                                           [formControl]="myControlCurrency"
                                           required>
                                </mat-form-field>
                            </div>

                            <div class="col-md-1">
                                <button mat-button [disabled]="f.invalid" type="submit" class="btn btn-info" style="padding-top: 20px" (click)="compute_value()">Compute</button>
                            </div>


                        </div>
                    </form><br>
                    <div class="row">
                        <div class="col-md-12">
                            <label>Stock's Wallet: </label>
                        </div>
                    </div>
                    <div class="row" >
                        <div class="col-md-12">
                            <table class="table table-hover table-responsive-lg" style="border-color: orange">
                                <thead class="text-primary">
                                <th>StockType</th>
                                <th>Quantity</th>
                                <th>Currency</th>
                                <th>Value</th>
                                <th>Delete</th>
                                </thead>
                                <tbody>

                                <tr *ngFor="let elt of wallets; let i = index">
                                    <td>{{elt.stock.stockType}}</td>
                                    <td>{{elt.stock.nberStockType}}</td>
                                    <td>{{elt.currency}}</td>
                                    <td>{{elt.value}}</td>
                                    <td class="td-actions text-right">
                                        <button mat-raised-button type="button" (click)="removeToWallet(i)" matTooltip="Remove stock" [matTooltipPosition]="'above'" class="btn btn-link btn-sm btn-just-icon">
                                            <i class="material-icons" style="color: red">close</i>
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <form #f2="ngForm">

                    </form>


                </div>
            </div>
        </div>
    </div>
</div>
