@import '~@angular/material/theming';

$nutrimoi-typography : mat-typography-config(
        $font-family: 'Dosis'
);

@include mat-core($nutrimoi-typography);
@import '~@angular/material/theming';
@import '~angular-mgl-timeline/theme';
// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue.
$candy-app-primary: mat-palette($mat-blue);
$candy-app-accent:  mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$candy-app-warn:    mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$candy-app-theme: mat-light-theme($candy-app-primary, $candy-app-accent, $candy-app-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($candy-app-theme);
@include mgl-timeline-theme($candy-app-theme);

body, html {
  margin: 0;
}

md-toolbar {
  margin-bottom: 10px !important;

  &:not(.mat-primary) {
    & .mat-toolbar-row {
      flex-wrap: wrap;
      height: auto;
      padding: 5px 0;
      font-family:"Dosis";
    }

    & button {
      margin: 5px !important;
    }
  }

}
mgl-timeline {
  font-family: Dosis, serif;
}

mgl-timeline:not(.mobile) {
  padding: 50px 20px;
}

mgl-timeline.mobile {
  padding-right: 20px;
}


